www/bower_components/
node_modules/
tmp/
compiled/
index.html/
www/

*.log
.idea/.name
.idea/jsLibraryMappings.xml
.idea/melvinjs-sample.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/libraries/melvinjs_sample_node_modules.xml
