//
    This file extends core html layout it provides you access to the <html>, <head> and <body> via blocks.
    Change html or head only if you know what you're doing

extends ../node_modules/melvinjs/templates/index

block body
    //
        Here you can define all the main regions of your app configurable in custom/modules/app/views/layout

        By default, a #content region is provided for the root view
        You can change this by adding / removing how many regions you want to use later using the application's
        rootView layout:

        ex: #content, #footer, #left-nav, etc.
        app.rootView.content.show(new MyContentView())
        app.rootView.footer.show(new MyFooter())
    .row
        .col-md-8.col-md-offset-2
            #content
                h1 Welcome to Melvinjs app
                a(href="#home") Go home
    .row#footer